VITE_SUPABASE_PROJECT_ID="yabkspuoyjnuiyayfsfn"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlhYmtzcHVveWpudWl5YXlmc2ZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNzY5NjYsImV4cCI6MjA5Mjc1Mjk2Nn0.eCGuubQV3afnllze_6cq5FJOH2jy-sFkl4WICWwFNyI"
VITE_SUPABASE_URL="https://yabkspuoyjnuiyayfsfn.supabase.co"
